@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
html, body  {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
	background: white;
}
*, *::after, *::before {
	margin: 0;
}
#map {
    height: 100vh; 
    width: 100%;
}
h1 {
    text-align: center;
    color: white;
}
.top {
    background: linear-gradient(45deg, #d64628, #f94a4a);
    margin: 0;
    padding: 20px 0;
}
.info-block {
    padding: 20px;
	background-color: black;
}
.info-block p {
    margin: 0;
	font-size: 15px;
    color: white;
    text-align: center;
    font-weight: 500;
}
.direction-container {
	position: relative;
}
.open-box {
	display: none;
}
.direction-box {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: white;
	box-shadow: 2px 2px 20px -5px rgb(128 128 128);
    padding: 40px 20px 20px 20px;
	width: 320px;
}
.map-container {
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
	z-index: -1;
}
.map-container h2 {
    text-align: center;
}
.fa {
	font-size:20px;
}
.fas {
	font-size:15px;
}
input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 5px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}
input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 5px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #86599b;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}
#right-panel {
    width: 90%;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}
#startLocation, #destinationLocation {
    padding: 10px;
    width: 77%;
    border: thin solid rgb(117, 117, 117);
    border-radius: 3px;
}
#submitButton {
    padding: 10px 20px;
    background-color: #d62828;
    border: none;
    color: white;
	width: 87%;
	margin-left: 20px;
    border-radius: 3px;
    font-size: 12pt;
}
#submitButton:hover {
    background: #f9844a;
    cursor: pointer;
}
.datetime-input {
	margin-left: 20px;
	display: inline-block;
}
.radio-inputs {
	width: 87%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;
	margin-left: 20px;
}
.mark {
	color: rgb(78, 78, 78);
}
.radio-inputs .mark:hover {
	color: black;
}
@media only screen and (max-width: 700px) {
    .top {
        font-size: 30px;
    }
    .info-block p {
        font-size: 17px;
    }
    .radio-inputs {
        padding-top: 20px;
    }
	.open-box {
		display: block;
		padding: 10px;
		background: linear-gradient(45deg, #d64628, #f94a4a);
		color: white;
		margin-bottom: 40px;
		font-size: 18px;
		border-radius: 3px;
	}
    .direction-box {
        left: 50%;
		transform: translate(-50%, 0);
		top: 350px;
		width: 94%;
		text-align: center;
		padding: 20px 20px 20px 20px;
    }
    .direction-box h2 {
        text-align: center;
        font-size: 25pt;
    }
    #startLocation, #destinationLocation {
        text-align: center;
        padding: 10px;
        width: 80%;
        font-size: 15pt;
    }
    .datetime-input, .radio-inputs {
        font-size: 15pt;
    }
    .datetime-input input {
        font-size: 15pt;
		width: 100%;
    }
    .radio-inputs input {
        font-size: 15pt;
        width:30px;
        height:30px;
    }
    #submitButton {
        padding: 20px 40px;
        background-color: #d62828;
        font-size: 15pt;
		margin-left: 0;
    }
    #errorMsg {
        font-size: 15pt;
        text-align: center;
    }
    .map-container {
        width: 100%;
    }
    .map-container h2 {
        font-size: 25pt;
    }
	.fa {
		font-size:30px;
	}
	.fas {
		font-size:25px;
	}
	input[type='radio']:after {
		width: 25px;
		height: 25px;
	}
	input[type='radio']:checked:after {
		width: 25px;
		height: 25px;
	}
    #map {
        height: 600px;
        width: 100%;
        margin: auto;
    }
}